openapi: 3.1.0
info:
  title: xAI Grok API
  description: Interact with xAI's Grok language model using chat-based messages.
  version: 1.0.0
servers:
  - url: https://api.x.ai/v1
    description: xAI production API server
paths:
  /chat/completions:
    post:
      operationId: createChatCompletion
      summary: Get a chat completion from Grok
      description: Sends messages to the Grok model and receives a response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
      security:
        - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Message:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          enum: [system, user, assistant]
        content:
          type: string
    ChatCompletionRequest:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
          example: grok-3-latest
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
        temperature:
          type: number
          default: 0.7
          minimum: 0
          maximum: 2
        stream:
          type: boolean
          default: false
    ChatCompletionResponse:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        created:
          type: integer
        model:
          type: string
        system_fingerprint:
          type: string
        choices:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
              message:
                $ref: '#/components/schemas/Message'
              finish_reason:
                type: string
